<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <RollingFile name="LogFile" fileName="/var/log/inter-iot/intermw/intermw.log"
                     filePattern="/var/log/inter-iot/intermw/intermw-%i.log">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="1"/>
        </RollingFile>
        <Console name="Debug" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %l - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="error">
            <AppenderRef ref="Debug"/>
            <AppenderRef ref="LogFile"/>
        </Root>
        <Logger name="eu.interiot" level="debug"/>
        <Logger name="eu.interiot.intermw.comm.broker.rabbitmq" level="debug"/>
    </Loggers>
</Configuration>